{%extends "layout.html" %}

{% set bodyId = "page-ideias" %}


{block title}
<title> Ideias - Casa criativa</title>
{endblock title}

<!-- <title>Ideias - Casa criativa</title>
<body id="page-ideias"> -->
<!-- variavel bodyId vai para o file que levara "xxxxxx" selecionado -->
   

{%block content%}
 <div id="container">
    <header>
            <a href="/">
                <img src="/Logo.png" alt="Casa criativa">
           
            </a>

           
        <nav>
            <li><a href="/">inicio</a></li>
            <li><a class="button" href="#" onclick="onOff()"> Nova ideia</a></li>

            
        </nav>
    </header>
    <section id="title">
    <p>Em exibição</p>
    <h1>Ideias</h1>
    </section>
    <main>
          <section id="ideas">
             {%include "allideas.html" %}

             </section>
    </main>
     <footer>
        Com ❤ <a href="https://www.instagram.com/luanzinhoalbert/" target="_blank">Luan Albert</a>
    </footer>
 </div>
 {% endblock %}
 